# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
storybook-static
dist-ssr
*.local
.env
temp
docs-site/public/data
docs-site/.vitepress/dist
docs-site/.vitepress/cache
docs-site/dashboard/scenarios/*.md
docs-site/dashboard/cards/*.md
docs-site/dashboard/stakeholders/*.md
docs-site/dashboard/events/*.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
